{% extends 'base.html' %}
{% block pagetitle %}
    Add new Site
{% endblock %}

{% block additionalHeaders %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block pagecontent %}

    {% include 'fragments/alerts.html' %}
    <br/>
    <div class="card">
      <div class="card-header">
          <h2>"Add New Site"<small>Please use the following form to add a new site</small></h2>
      </div>
    <div class="card-body card-padding">
        <form id="site-form" method="post" action="{{ url_for('sites_add') }}">
             {{ form.csrf_token }}
        <div class="form-group">
            <div class="fg-line">
                {{ form.name(placeholder="Site Name",class="form-control input-lg") }}
            </div>
        </div>

        <div class="form-group">
            <div class="fg-line">
                {{ form.folder(placeholder='Site Folder',class="form-control input-lg") }}
            </div>
        </div>

        <div class="form-group">
            <div class="fg-line">
                {{ form.url(placeholder='Website URL',class="form-control input-lg") }}
            </div>
        </div>
        <div class="form-group">
            <div class="fg-line">
                {{ form.username(placeholder="User Name",class="form-control input-lg") }}
            </div>
        </div>
        <div class="form-group">
            <div class="fg-line">
                {{ form.password(placeholder="Password",class="form-control input-lg") }}
            </div>
        </div>
        <div class="form-group">
            <div class="fg-line">
                {{ form.notes(placeholder='Type Some Notes',class="form-control") }}
            </div>
        </div>
            <div class="form-group">
            <div class="fg-line">
                {{ form.icon() }}
                {{ form.site_id() }}
            </div>
        </div>
        <div class="form-group">
            <div class="fg-line">
               <div class="row m-b-20">
                                <div class="col-sm-4 m-b-20">
                                    <div class="toggle-switch">
                                        <label for="favourite" class="ts-label">Favourite</label>
                                        {{ form.favourite(hidden="hidden") }}
                                        <label for="favourite" class="ts-helper"></label>
                                    </div>
                                </div>

                                <div class="col-sm-4 m-b-20">
                                    <div class="toggle-switch">
                                        <label for="autologin" class="ts-label">Auto-Login</label>
                                        {{ form.autologin(hidden="hidden") }}
                                        <label for="autologin" class="ts-helper"></label>
                                    </div>
                                </div>

                                   <div class="col-sm-4 m-b-20">
                                    <div class="toggle-switch">
                                        <label for="autofill" class="ts-label">Auto-Fill</label>
                                        {{ form.autofill(hidden="hidden") }}
                                        <label for="autofill" class="ts-helper"></label>
                                    </div>
                                </div>

                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="row m-b-20">
                    <a href="#" id="addField-btn" class="btn btn-lg bgm-blue waves-effect pull-right">Add Field</a>
                </div>
            </div>
           <div id="fields" class="form-group">
               {% if form.fields is not undefined %}

                   {% for field in form.fields %}
                       {% set id = uuid.uuid4() %}
                       <div id="{{ id }}" class="fg-line">
                        <div class="col-sm-3 m-b-30">
                            <label for="field_name[]">Field Name</label>
                            <input type="text" name="field_name[]" id="field_name[]" value="{{ field.name }}" class="form-control input-sm">
                        </div>
                           <div class="col-sm-3 m-b-30">
                               <label for="field_value[]">Field Value</label>
                               <input type="text" name="field_value[]" id="field_value[]" value="{{ field.value }}" class="form-control input-sm">
                           </div>
                           <div class="col-sm-3 m-b-30">
                               <label for="field_type[]">Field Type</label>
                               <select id="field_type[]" name="field_type[]" value="{{ field.type }}" class="form-control">
                                   <option value="Text">Text</option>
                                   <option value="Password">Password</option>
                               </select>
                            </div>
                        <div class="col-sm-1 m-b-30">
                            <a href="#"  to-remove-id="{{ id }}" class="btn bgm-cyan btn-icon waves-effect waves-circle waves-float ui-item-deleter">
                                <i class="md md-close"></i></a>
                        </div>
                       </div>
                   {% endfor %}
               {% endif %}
           </div>

        <div class="form-group">
            <div class="fg-line">
                <div class="row m-b-20">
                <div class="btn-demo pull-right">
                    <a href="{{ url_for('sites_display') }}"  class="btn btn-lg bgm-red waves-effect">Cancel</a>
                    <a href="#" onclick="document.getElementById('site-form').submit();"  class="btn btn-lg bgm-blue waves-effect">Add Site</a>
                </div>
                    </div>
                </div>
        </div>

            </form>


    </div>
    </div>



{% endblock %}


{% block trailHeader %}
    <script type="application/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="application/javascript" src="/static/js/addsite-dialog.js"></script>
{% endblock %}